body {
    font: 16px/1.5 var(--main-font-family);
    margin: 5em auto;
    width: 65vw;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headings-font-family);
}

header {
    text-align: center;
}

header p {
    width: 60vw;
}

p,
h1,
h2,
h3,
h4 {
    margin-bottom: 1.5em;
}